<h1>Survey edit</h1>


<form action="/surveys/edit" method="post">
  <label for="title">Title: </label>
  <input type="text" id="title" name="survey[title]" value="<%= @survey.title%>">
  <input type="hidden" name="survey_id" value="<%= @survey.id%>">
  <label for="category">Category: (currently is <%= @survey.category %>)</label>
  <!-- will change to fun if not adjusted. -->



  <select id="category" name="survey[category]">
    <option value="Fun">Fun</option>
    <option value="Jimmy">Jimmy</option>
    <option value="Coding">Coding</option>
    <option value="Food">Food</option>
    <option value="Other">Other</option>
  </select>
  <input type="submit" id="survey_submit" value="Run that shit">

</form>


<form action="/surveys/delete" method="post">
  <input type="submit" id="delete_submit" value="DELETE POST!">
  <input type="hidden" name="survey_id" value="<%= @survey.id%>">
</form>